%p.create Create New Event?
%div.create_event{ style: 'display: none;' }
  = form_for(@new_event) do |f|
    %ul
      %li= f.label :title
      %li= f.text_field :title, class: 'event_title'

      %li= f.label :description
      %li= f.text_area :desc

      %li= f.label :datetime, 'Send Text At:'
      %li= f.datetime_select :send_at

      %li= f.submit 'Create Event', class: 'submit'

%div.events
  - @events.each do |event|
    %div.event
      %li.title= event.title
      %span.description{ style: 'display: none;'}
        %li.desc= event.desc
        %li.send_at
        Send At:
        =event.send_at
      -# %li.update
      -#   %button
      -#   = form_for(@edit_event) do |f|
      -#     %ul


= will_paginate @events
