%div.user
  %p= current_user.email
  %p= link_to 'Sign Out', sign_out_path, method: :delete, class: 'sign_out'
  %p= @message
%p.create Create New Event?
%div.create_event{ style: 'display: none;' }
  = form_for(@new_event) do |f|
    %ul
      %li= f.hidden_field :user_id, value: current_user.id

      %li= f.label :title
      %li= f.text_field :title, class: 'event_title'

      %li= f.label :description
      %li= f.text_area :desc
      %li= f.label :datetime, 'Send Text At:'
      %li= f.datetime_select :send_at, default: 2.days.from_now, ampm: 'true', order:[:month, :day, :year]

      %li= f.submit 'Create Event', class: 'submit'

%div
  - current_user.events.each do |event|
    %div.event
      %li
        %span.title= event.title
        = link_to 'Delete Event', event_path(event), method: :delete, confirm: 'Are You Sure?', class: 'delete'
      %span.description{ style: 'display: none;'}
        %li.desc= event.desc
        %li.send_at
          %p Send At:
          = event.send_at
        %li= link_to 'Edit', event_path(event.id)



-# = will_paginate @events
